:root {
  --primary: #ebc908;
  --primary-text: #1a1a1a;
  --secondary: #1dffa8;
  --secondary-text: #ffffff;
  --secondary-hover: #08b874;
  --secondary-active: #089c63;
  --accent: #505050;
  --accent-text: #ffffff;
}
