*{
    user-select: none;
}

@font-face {
    font-family: 'ComicCon';
    src: local('ComicCon'),
         url('../fonts/Comicon.otf') format('opentype');
  }

.buy-button{
    background-color: lightgreen;
    height: 30px;
    width: 30px;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 15px;
    cursor: pointer;
}

.button-text{
    font-size: 22px;
    color: black;
    user-select: none;
}

.value-text{
    font-size: 25px;
    color: #c4c4c4;
    margin-left: 20px;
    margin-right: 20px;
}

.row-container{
    display: flex;
    flex-direction: row;
    width: 200px;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.header-container{
    height: 70px;
    width: 100%;
    background-color:rgba(0, 0, 0, 0.11);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    z-index: 100;
}

.logo-img{
    width:1000px;
}

.header-social-img{
    height: 36px;
    width: 36px;
    border-radius: 12px;
    cursor: pointer;
    margin-left: 32px;
 }

.menu-text{
    font-size: 18px;
    color: #c4c4c4;
    margin-right: 32px;
    cursor: pointer;
    font-weight: 700;
    text-transform: uppercase;
    display:flex;
    align-items:center;
}

.menu-text:hover{
    color: green;
}

.menu-container {
    display: flex;
}

.menu-icon{
    display: none;
    height: 60px;
    cursor: pointer;
    width: 60px;
}

.bottom-border {
    border-bottom: 5px solid black;
}

.home-social-container{
    margin-top: 20px;
    width: 100%;
    justify-content: space-between;
    display: flex;
}

.home-container{
    height: auto;
    /*background-image: url("https://images.squarespace-cdn.com/content/v1/616d0df99d00504eedaca23b/72c3dd76-6879-41e4-86c9-79b96f799d02/grassy_plains.png");*/
    /* style={{ backgroundImage: `url(${bgimage})` }}*/
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-logo{
    height: auto;
}

.overlay{
    background-color:rgba(0, 0, 0, 0.11);
    height: 100%;
    width: 100%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home-logo{
    height: 65px;
    /* cursor: pointer; */
}

.split-container{
    /*height: 70%;
    width: 80%;
    margin-top: 30px;*/
    display: flex;
}

.text-1-of-2-container{
    width: 50%;
    height: auto;
    padding: 20px;
    justify-content: center;
    flex-direction: column;
    display: flex;
    align-items: center;
}

.image-1-of-2-container {
    width: 50%;
    height: auto;
    padding: 30px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.sample-img {
    height: auto;
    width: 300px;
    background-color:grey;
    border-radius:24px;
    object-fit: contain;
}

.story-img {
    height: auto;
    width: 80%;
    object-fit: contain;
}


.connect-button, .mint-button, .market-button {
    height: 45px;
    width: 120px;
    font-size: 16px;
    /*background-color: lightgreen;*/
    background-color: #a8a6a1;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    display: flex;
    cursor: pointer;
    font-family: 'ComicCon';
}

.connect-button:hover, .mint-button:hover, .market-button:hover {
    background-color: green;
}

.connect-error-msg {
    margin:12px;
}

.mint-feedback {
    padding: 16px 0;
}

.mint-quantity-container {
    margin: 12px 0;
    padding: 12px;
    border: 1px solid black;
    border-radius: 12px;
}

.mint-quantity-bar {
    display:flex;
}

.inc-button, .dec-button {
    padding: 10px;
    border-radius: 100%;
    border: none;
    background-color: #ebc908;
    padding: 10px;
    font-weight: bold;
    font-size: 15px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inc-button:hover, .dec-button:hover {
    background-color: green;
}

.inc-button:active, .dec-button:active {
    background-color: blue;
}

.mint-quantity-counter {
    text-align:center;
    color: #1a1a1a;
    font-size: 16px;
    line-height: 1.6;
}

.home-title {
    font-size: 45px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    font-family: 'ComicCon';
}

.home-desc {
    font-size: 20px;
    margin-top: 15px;
    line-height: 30px;
    text-align: center;
    font-family: 'ComicCon';
}

.home-desc-num {
    font-size: 40px;
    margin-top: 15px;
    line-height: 30px;
    margin-top: 22px;
    margin-bottom: 12px;
    font-family: 'ComicCon';
}

.about-container{
    height: auto;
    background-color: #f7eee9;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 50px;
    padding-top: 70px;
    
}

.about-img{
    height: auto;
    width: 80%;
}

.split-container{
    /*height: 70%;
    width: 80%;
    margin-top: 30px;*/
    display: flex;
}

.about-title {
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    
}

.description {
    color: black;
    font-size: 22px;
    text-align: center;
}

.spacer-horiz-XLarge {
    width:72px;
}

.home-left-spacer {
    width:25%;
}

.home-right-spacer {
    width:25%;
}

.spacerXSmall {
    height:8px;
    width: 8px;
}

.spacerSmall {
    height:16px;
    width: 16px;
}

.spacerMedium {
    height:24px;
    width: 24px;
}

.spacerLarge {
    height:32px;
    width: 32px;
}

.about-center-discr{
    color: #c4c4c4;
    font-size: 22px;
    margin-top: 15px;
    line-height: 30px;
    font-weight: 300;   
    
}

.road-container{
    height: 80vh;
    /* background-image: url("https://image.freepik.com/free-vector/nature-scene-rural-land-agriculture-grassland-abtract-silhouette-asian-farmers-working-rice-field-illustration_1150-37317.jpg");
    background-repeat: no-repeat;
    background-size: cover; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
    background-color: #f7eee9;
    padding-top: 70px;
    
}

.road-map-container{
    width: 80%;
    height: 90%;
}

.road-card-discr{
    font-size: 18px;
    font-weight: 500;
    line-height: 35px;
    text-align: center;
       
}

.road-card{
    align-items: center;
    justify-content: flex-start;
    width: 90%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.road-card-title{
    font-size: 22px;
    color: black;
    padding-bottom: 20px;
    text-align: center;
}

.story-container{
    height: auto;
    /* background-image: url("https://image.freepik.com/free-vector/nature-scene-rural-land-agriculture-grassland-abtract-silhouette-asian-farmers-working-rice-field-illustration_1150-37317.jpg");
    background-repeat: no-repeat;
    background-size: cover; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
    background-color: #f7eee9;
    padding-top: 70px;
}

.story-right-container {
    width: 50%;
    height: 100%;
    padding: 30px;
    align-items: center;
    justify-content: center;
}

.faq-container {
    /* height: 80vh; */
    height: auto;
    /* background-image: url("https://image.freepik.com/free-vector/nature-scene-rural-land-agriculture-grassland-abtract-silhouette-asian-farmers-working-rice-field-illustration_1150-37317.jpg");
    background-repeat: no-repeat;
    background-size: cover; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
    background-color: #f7eee9;
    padding-top: 70px;
}

.faq-box{
    width: 70%;
    height: auto;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    padding-left: 25px;
    padding-right: 25px;
    align-items: center;
    padding-top:10px ;
    padding-bottom: 10px;
    cursor: pointer;
    background-color: #f7eee9;
}

.answer-box{
    height: auto;
    background-color: #f7eee9;
    width: 70%;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 15px;
    padding-bottom: 10px;
}

.faq-title {
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    
}

.faq-question{
    font-size: 20px;
    font-weight: 700;
}

.faq-answer{
    font-size: 20px;
}

.card-container{
    max-height: auto;
    width: 350px;
    background-color: #f7eee9;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 20px;
    padding-bottom: 30px;
    border-radius: 5px;
    border: 4px solid lightgreen;
    margin-left: 10px;
    margin-right: 10px;
}

.perk-container{
    min-height: auto;
    /* background-image: url("https://image.freepik.com/free-vector/nature-scene-rural-land-agriculture-grassland-abtract-silhouette-asian-farmers-working-rice-field-illustration_1150-37317.jpg");
    background-repeat: no-repeat;
    background-size: cover; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
    background-color: #f7eee9;
    padding-top: 70px;
}

.perk-card-container {
    display: flex;
    flex-direction: row;
    height: auto;
    width: 70%;
    justify-content: space-between;
    margin-top: 50px;
    
}

.card-title {
    font-size: 35px;
    font-weight: 700;
    color: #c4c4c4;
    padding-bottom: 15px;
}

.card-list-container{
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
}

.card-list{
    margin-top: 6px;
    font-size: 18px;
    color: #c4c4c4;
    text-align: left;
    font-weight: 500;
}

.team-container{
    height: auto;
    background-color: #f7eee9;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
    padding-top: 70px;
}


.team-card-container{
    display: flex;
    width: 70%;
    justify-content: space-between;
    margin-top: 50px;
}

.team-card {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    width:100%;
    height:auto;
    padding: 0 17px;
}

.team-img{
    width:100%;
    height:auto;
    object-fit: contain;
    border-radius: 24px;
}

.team-name{
    font-size: 32px;
    margin-top: 32px;
    /*text-transform: uppercase;*/
}

.team-desc {
    font-size: 16px;
    margin-top: 10px;
    font-weight:400;
}

.footer-container{
    height: 20vh;
    background-color: #f7eee9;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.foot-copyright {
    width:50%%;
}

.foot-social-container{
    width: 50%;
    justify-content: flex-end;
    display: flex;
}

.foot-social-img{
   height: 36px;
   width: 36px;
   border-radius: 16px;
   margin-right:32px;
   cursor: pointer;
}

@media only screen and (max-width: 1024px) {
    .menu-container {
        display: none;
    }

    .menu-icon{
        display: flex;
    }

    .mobile-menu{
        position: fixed;
        background-color: green;
        width: 70%;
        height: 100%;
        z-index: 150;
        right: 0;
        padding-top: 50px;

        text-align: center;
    }

    .close-icon{
        position: absolute;
        right: 10px;
        top: 10px;
        width:50px;
        height:50px;
        cursor: pointer;
    }

    .menu-text{
        margin-top: 50px;
    }

    .home-container{
        height: auto;
        /*background-image: url("https://images.squarespace-cdn.com/content/v1/616d0df99d00504eedaca23b/72c3dd76-6879-41e4-86c9-79b96f799d02/grassy_plains.png");*/
        /*background-repeat: no-repeat;*/
        background-size: cover; 
        padding-top: 70px;
    }

    .logo-img{
        width:100%;
    }

    .home-social-container{
        margin-top: 20px;
        width: 120%;
        justify-content: space-between;
        display: flex;
    }

    .story-container{
        height: auto;
        /* background-image: url("https://image.freepik.com/free-vector/nature-scene-rural-land-agriculture-grassland-abtract-silhouette-asian-farmers-working-rice-field-illustration_1150-37317.jpg");
        background-repeat: no-repeat;
        background-size: cover; */
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 50px;
        background-color: #f7eee9;
        padding-top: 70px;
    }
    .about-container{
        height: auto;
        background-color: #f7eee9;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding-top: 70px;
    }
    .team-card-container{
        display: flex;
        flex-direction: column;
        width: 70%;
        justify-content: space-between;
        margin-top: 50px;
    }
    .team-card {
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        margin-bottom: 50px;
    }
    .foot-social-container{
        width: 50%;
        justify-content: space-between;
        display: flex;
    }
    .card-container{
        max-height: auto;
        width: 350px;
        background-color: #f7eee9;
        align-items: center;
        display: flex;
        flex-direction: column;
        padding: 20px;
        padding-bottom: 30px;
        border-radius: 5px;
        border: 4px solid lightgreen;
        /* box-shadow: 0 4px 8px 0 rgba(10, 209, 38, 0.2), 0 6px 20px 0 rgba(10, 209, 38, 0.19); */
    }
    .perk-card-container {
        display: flex;
        flex-direction: row;
        height: auto;
        width: 80%;
        justify-content: space-between;
        margin-top: 50px;
    }
}

@media only screen and (max-width: 765px) {
    .menu-container {
        display: none;
    }

    .logo-img{
        width:100%;
    }

    .menu-icon{
        display: flex;
    }

    .home-container{
        height: auto;
        /*background-image: url("https://images.squarespace-cdn.com/content/v1/616d0df99d00504eedaca23b/72c3dd76-6879-41e4-86c9-79b96f799d02/grassy_plains.png");*/
        /*background-repeat: no-repeat;*/
        background-size: cover; 
        background-color: #f7eee9;
        padding-top: 70px;
    }

    .home-social-container{
        margin-top: 20px;
        width: 130%;
        justify-content: space-between;
        display: flex;
    }

    .text-1-of-2-container{
        width: 100%;
    }
    
    .image-1-of-2-container {
        width: 100%;
    }

    .overlay{
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .story-container{
        height: auto;
        /* background-image: url("https://image.freepik.com/free-vector/nature-scene-rural-land-agriculture-grassland-abtract-silhouette-asian-farmers-working-rice-field-illustration_1150-37317.jpg");
        background-repeat: no-repeat;
        background-size: cover; */
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 50px;
        background-color: #f7eee9;
        padding-top: 70px;
    }
    .about-container{
        height: auto;
        background-color: #f7eee9;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding-top: 70px;
    }
    .team-card-container{
        display: flex;
        flex-direction: column;
        width: 70%;
        justify-content: space-between;
        margin-top: 50px;
    }
    .team-card {
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        margin-bottom: 50px;
    }
    .foot-social-container{
        width: 50%;
        justify-content: space-between;
        display: flex;
    }
    .card-container{
        max-height: auto;
        width: 280px;
        border-color:lightgreen;
        align-items: center;
        display: flex;
        flex-direction: column;
        padding: 20px;
        padding-bottom: 30px;
        margin-bottom: 25px;
        border-radius: 5px;
        /* box-shadow: 0 4px 8px 0 rgba(10, 209, 38, 0.2), 0 6px 20px 0 rgba(10, 209, 38, 0.19); */
    }
    .perk-card-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
        width: 80%;
        justify-content: space-between;
        margin-top: 50px;
    }

    .road-map-container{
        width: 100%;
    }

    .faq-box{
        width: 85%;
        height: auto;
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        padding-left: 25px;
        padding-right: 25px;
        align-items: center;
        padding-top:10px ;
        padding-bottom: 10px;
        cursor: pointer;
        background-color: #f7eee9;
    }

    .answer-box{
        height: auto;
        background-color: #f7eee9;
        width: 85%;
        padding-left: 25px;
        padding-right: 25px;
        font-size: 15px;
        padding-bottom: 10px;
    }

    .home-logo{
        height: 40px;
    }

    .split-container{
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .left-container{
        width: 85%;
        height: 100%;
        padding: 30px;
        justify-content: center;
        flex-direction: column;
        display: flex;
    }
    
    .right-container {
        width: 85%;
        height: 100%;
        padding: 30px;
    }

    .story-right-container{
        width: 85%;
        height: 100%;
        padding: 30px;
    }

    .foot-social-container{
        width: 70%;
        justify-content: space-between;
        display: flex;
    }

    .about-title{
        font-size: 28px;
        text-align: center;
        
    }
}