.App {
  background-color: red;
  height: 100vh;
}

.AppBar{
  height: 50px;
  background-color: royalblue;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 10px;
  padding-left: 10px;
}

.HelloBtn{
  height: 30px;
  width: 100px;
}